<div class="profile-cntr cntr">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="profile-main box-shad bor-rad-25">
          <div class="text-center">
            <h1 class="head-text">PROFILE</h1>
          </div> 
          <hr>
          <div class="profile-image bg-pos-repeat"></div>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div>
              <div class="row justify-content-around">
                <mat-form-field>
                  <input type="text" matInput placeholder="Full Name" formControlName="fullname" (keyup)="onValidate()">
                  <mat-error *ngIf="!profileForm.get('fullname').valid && profileForm.get('fullname').touched">Please Enter Valid name</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input type="email" matInput placeholder="Email" formControlName="email" (keyup)="onValidate()">
                  <mat-error *ngIf="!profileForm.get('email').valid && profileForm.get('email').touched">Please Enter Valid Email</mat-error>
                </mat-form-field>
              </div>

              <div class="row justify-content-around">
                <mat-form-field>
                  <input type="text" matInput placeholder="Phone Number" formControlName="phonenum" (keyup)="onValidate()">
                  <mat-error *ngIf="!profileForm.get('phonenum').valid && profileForm.get('phonenum').touched">Please Enter Valid number</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput placeholder="Address" formControlName="address">
                  <mat-error *ngIf="!profileForm.get('address').valid && profileForm.get('address').touched">Field must not be empty</mat-error>
                </mat-form-field>
              </div>

              <div class="row justify-content-around">
                <mat-form-field>
                  <input type="text" matInput placeholder="Brief Medical History of Patient (Optional)" formControlName="medhistory">
                </mat-form-field>
                <div class="profile-btn">
                  <button type="submit"class="sub-button w-100" [disabled]="disabled">Update Profile</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
