@import '../../assets/scss/global.scss';
@import '../../assets/scss/var.scss';

.bookings-cntr {
  max-width: 768px;
  margin-bottom: 50px;
  
  .bookings-main {
    height: auto;
    padding: 3% 3% 5%;
    background: var(--white);

    .loaded-data {
      background: #c0ebff;

      .user-status {
        margin-right: 30px;
        font-size: 1rem !important;

        .blue {
          color: var(--blue);
        }

        .pink {
          color: var(--pink);;
        }

        .orange {
          color: var(--orange);;
        }
      }
    }

    .mat-accordion>.mat-expansion-panel-spacing:first-child, .mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing ,
    .mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
      margin-top: 0;
      margin-bottom: 0;
    }

    mat-expansion-panel-header {
      background: rgba(0,0,0,.04);

      mat-panel-title {
        color: var(--blue);
      }
    }
  }

  .select {
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: var(--white) !important;
  }
}